@font-face {
  font-family:'Zuko-type';
  src: url('../fonts/Road_Rage.woff') format('woff2');}

@font-face {
  font-family:'SubtextTitel';
  src: url('../fonts/Herculanum Regular.woff') format('woff');
} 
  

/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
  /* ... */

}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
  font-family: 'Zuko-type';
}

h2{
  font-family:'SubtextTitel';
}

h3{
font-size: 0.9em;
font-weight: lighter;
}




article {
  background-image: url('../images/scroll.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 35%;
}

article h2{
  font-size: 0.8em;
} 

article h2, h3,p{
  padding-left: 4em;
}




button{
  width: 7em;
  height: 7em;
  background-color: #E4E0DF;
  border-radius: 50%;
  border: 0.5em;
  border-color: none;
  padding: 1.5em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);}

  button:nth-of-type(1):hover {
    background-color: #932E0F; 
  }

  button:nth-of-type(1):hover img{
    filter:invert(1);
  }

  section button:nth-child(3):hover {
    background-color: #2c1a53;
  }

  section button:nth-child(3):hover img{
    filter:invert(1);
  }

  section button:nth-child(4):hover {
    background-color: #304B14;
  }

  section button:nth-child(4):hover img{
    filter:invert(1);
  }

  section button:nth-child(5):hover {
    background-color: #616161;
  }

  section button:nth-child(5):hover img{
    filter:invert(1);
  }


.nations button {
    display: block;
    margin-bottom: 1em; 
}


/* ... */


